/*
    This CSS file is responsible for :
        Style of responsive Second Section for udemy homepage :
            1- Header And Paragraph of Section two
            2- Navigation Bar with tabs for Topics' Coruses
            3- Topic sub header and sub paragraph for evert topic's tab
            4- additional button to explore topic's courses
            5- Responsive Courses List (Each Course includes [title + instrcutor + rating + Price])
            6- navigation buttons (Left + Right) for more courses
*/

/* ------------- Second Section ------------- */

.section-two {
    margin: 20px;
}

.topic-elem .nav-link {
    color: gray;
    font-weight: bold;
}

.section-two-header {
    font-size: 2em;
    font-weight: bold;
    margin: 2px;
}

.section-two-paragraph {
    font-size: 1.2em;
    margin: 4px;
}

.section-two-content {
    position: relative;
    border: 1px solid rgb(190, 188, 188);
    font-size: 0.9em;
    padding: 20px;
}

.section-two-sub-paragraph {
    font-size: 1em;
    width: 75%;
}

.explore-btn {
    border: 1px black solid;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.course-btn {
    font-size: 3rem;
}

.back-btn {
    position: absolute;
    top: 8%;
    left: -1%;
    z-index: 1;
}
.next-btn {
    position: absolute;
    top: 8%;
    right: -1%;
    z-index: 1;
}

#tab-content-1 {
    position: relative;
}
.section-two-list {
    position: relative;
    display: grid;
    margin: 0;
    width: 100%;
    overflow: hidden;
    list-style: none;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-columns: 0px;
    grid-auto-rows: 0px;
}

.section-two-list-elem {
    position: relative;
    width: 200px;
    max-width: 400px;
    margin: 10px auto;
    box-sizing: border-box;
}

.section-two-img {
    width: 100%;
    border: 1px rgb(221, 214, 214) solid;
}
.section-two-content-header {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin: 2px 0;
}
.section-two-content-desc {
    text-align: left;
    font-size: 10px;
    color: grey;
    margin: 0;
}

.rating {
    float: left;
    margin-top: 4px;
    width: 100%;
}

.rating-list {
    float: left;
    padding-left: 9px;
}
.rating-value {
    float: left;
    color: rgb(174, 79, 31);
    font-size: 15px;
    font-weight: bold;
}

.checked {
    color: orange;
}

.section-two-price {
    float: left;

    font-size: 13px;
    font-weight: bold;
}

.section-two-old-price {
    float: left;
    margin-left: 15px;
    font-size: 12px;
    color: gray;
}

/* ------------- Responsive Screen ------------- */

@media screen and (max-width: 720px) {
    .section-two-list-elem {
        max-width: 250px;
    }
}
