/* ------------- Navigation Bar ------------- */
.nav-bar {
    margin: 20px 0px;
    height: 40px;
    display: flex;
    padding-bottom: 8px;
    border-bottom: 3px solid rgb(223, 220, 220);
}

.nav-form {
    height: 100%;
    flex-grow: 1;
}

.nav-elem {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 5px;
}

.menu-div {
    display: none;
}

.nav-menu-img,
.nav-logo-img,
.search-icon,
.nav-cart-img,
.nav-language-img {
    height: 100%;
}

.nav-links {
    font-size: 0.8em;
}

.nav-links:hover {
    color: rgb(114, 23, 174);
}

.search-div {
    height: 100%;
    width: 100%;
    border: 1px black solid;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.search-bar {
    height: 80%;
    border: none;
    flex-grow: 1;
    margin: 12px;
}
.search-bar:focus {
    outline: none;
}

.search-btn {
    height: 100%;
    border: 2px black solid;

    font-weight: bold;
}

.log-in {
    font-weight: 800;
    border: 2px black solid;
}

.sign-up {
    font-weight: 800;
    color: white;
    background-color: black;
}

.lang-div {
    border: 2px black solid;
}

/* ------------- First Section ------------- */

.page-main {
    width: 95vw;
    margin: auto;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.section-one-img-div {
    margin-left: auto;
    width: 40%;
}
.section-one-img {
    width: 100%;
}
.section-one-content {
    margin: 30px;
    width: 50%;
    height: fit-content;
    border-bottom: 3px solid rgb(223, 220, 220);
    text-align: left;
}

.section-one-header {
    font-size: 2em;
}
.section-one-paragraph {
    font-size: 1.2em;
}

/* ------------- Second Section ------------- */

.section-two {
    margin: 20px;
}

.section-two-header {
    font-size: 2em;

    font-weight: bold;
    margin: 2px;
}

.section-two-paragraph {
    font-size: 1.2em;
    margin: 4px;
}

.section-two-content {
    border: 1px solid rgb(190, 188, 188);
    font-size: 0.9em;
    padding: 20px;
}

.section-two-sub-paragraph {
    font-size: 1em;
    width: 75%;
}

.explore-btn {
    border: 1px black solid;
    margin: 20px 0;
    padding: 10px;

    font-weight: bold;
    font-size: 1.5em;
}

.section-two-list {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.section-two-list-elem {
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
}

.section-two-img {
    width: 100%;
}
.section-two-content-header {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin: 2px 0;
}
.section-two-content-desc {
    text-align: left;
    font-size: 10px;
    color: grey;
    margin: 0;
}

.rating {
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
}

.rating-list {
    float: left;
    padding-left: 9px;
}
.rating-value {
    float: left;
    color: rgb(174, 79, 31);
    font-size: 15px;
    font-weight: bold;
}

.checked {
    color: orange;
}

.section-two-price {
    float: left;

    font-size: 13px;
    font-weight: bold;
}

.section-two-old-price {
    float: left;
    margin-left: 15px;
    font-size: 12px;
    color: gray;
}

/* ------------- Responsive Screen ------------- */

@media screen and (max-width: 1100px) {
    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .log-in,
    .sign-up,
    .lang-div {
        display: none;
    }

    .section-one-img-div {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 720px) {
    .search-div,
    .search-btn,
    .cart-div {
        display: none;
    }

    .menu-div {
        display: inline-block;
    }
    .logo-div {
        width: 100%;
        flex-grow: 1;
        justify-content: right;
    }

    .section-two-list-elem {
        max-width: 250px;
    }
}
