/* ------------- Navigation Bar ------------- */

.nav-bar {
    margin: 20px 0px;
    height: 3vw;
    display: flex;
    padding-bottom: 8px;
    border-bottom: 3px solid rgb(223, 220, 220);
}

.nav-elem {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0px 5px;
}

.menu-div {
    display: none;
}
.nav-menu-img {
    height: 100%;
}

.nav-logo-img {
    height: 100%;
}

.nav-links:hover {
    color: rgb(114, 23, 174);
}

.search-div {
    flex-grow: 1;
}

.search-bar {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    margin: 5px;
    border: 1px black solid;
}
.search-btn {
    height: 100%;
    border: 1px black solid;
}

.nav-cart-img {
    height: 100%;
}

.log-in {
    border: 1px black solid;
    font-weight: 800;
}

.sign-up {
    background-color: black;
    color: white;
    font-weight: 800;
}

.nav-language-img {
    border: 2px black solid;
    height: 100%;
}

/* ------------- First Section ------------- */

.section-one {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    flex-wrap: wrap-reverse;
    width: 100%;
}

.section-one-img-div {
    margin-left: auto;
}

.section-one-content {
    margin: 30px;
    width: 500px;
    height: fit-content;
    border-bottom: 3px solid rgb(223, 220, 220);
    text-align: left;
}

.section-one-header {
    font-size: 40px;
}
.section-one-paragraph {
    font-size: 20px;
}

/* ------------- Second Section ------------- */

.section-two {
    margin: 20px;
}

.section-two-header {
    font-weight: 600;
    font-size: 2.4em;
    margin: 2px;
}

.section-two-paragraph {
    font-size: 1.2em;
    margin: 4px;
}

.section-two-content {
    border: 3px solid rgb(190, 188, 188);
    padding: 20px;
}

.section-two-sub-paragraph {
    font-size: large;
    width: 75%;
}

.explore-btn {
    height: 40px;
    border: 1px black solid;
    margin: 20px 0;
    font-weight: 800;
}

.section-two-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.section-two-list-elem {
    width: 19%;
}

.section-two-img {
    width: 100%;
}
.section-two-content-header {
    text-align: left;
}
.section-two-content-desc {
    text-align: left;
}
.section-two-price {
    text-align: left;
}

/* ------------- Responsive Screen ------------- */
@media screen and (max-width: 950px) {
    .nav-bar {
        height: 5vw;
    }
    .nav-elem {
        display: none;
    }
    .menu-div {
        display: inline-block;
    }
    .logo-div {
        display: inline-block;
        flex-grow: 1;
        text-align: right;
    }

    .section-one-img-div {
        margin: auto;
    }
}
